<div ng-controller="addAdvTagMatrixController as aATM" style="position: absolute; top: 0; z-index: 1000; overflow: auto; height: 100%;width: 100%; background-color: rgba(0,0,0,.6);" ng-init="aATM.init()">
    addAdvTagMatrixController 广告 添加/编辑 广告标签(全添加)
    <br>
    <br>
    <button ng-click="aATM.cancel()">关闭</button>
    <form novalidate ng-submit="addForm.$valid && aATM.addAdvTagMatrix()" name="addForm">
        <div ng-repeat="tag in aATM.advTagList track by $index">
        	<input type="checkbox" name="" ng-model="aATM.advTagList[$index].checked" ng-checked="aATM.advTagList[$index].checked">{{tag.TagName}}
        </div>
         <input type="submit" name="" ng-disabled="aATM.saving">
    </form>
</div>
