<div ng-controller="adsBoardController as adsBoard" ng-init="adsBoard.init()" class="col-sm-9 page col-right">
    <div ng-show="adsBoard.loading">loading....</div>
    <div  ui-sref="app.adsBoard.adsPosition({adsPosition:'all'})">
        全部
    </div><br>
    <div ng-repeat="tag in adsBoard.positionTags track by $index" ui-sref="app.adsBoard.adsPosition({adsPosition:tag.ID})">
        {{tag.TagName}} --<button ng-click="adsBoard.editPositionTag(tag)" class="btn btn-primary">编辑</button> 
    </div>
    <a class="btn btn-primary" ng-click="adsBoard.addPositionTag()">添加标签</a>
    <div ng-show="adsBoard.noData">查无数据</div>
    <ui-view></ui-view>
</div>
