<div ng-controller="adsMaterialController as adsMaterial" ng-init="adsMaterial.init()" class="col-sm-9 page ">
    <strong>广告素材</strong>
    <hr class="break-space-double">
<!--     <hr class="break-space-double">
    <a class="btn btn-default" ng-click="adsMaterial.addAdvTag()"><i class="glyphicon glyphicon-plus"></i>添加标签</a>
    <div ng-show="adsMaterial.loading">loading....</div>
    <ul class="adsMaterial nav">
        <li>
            <div ui-sref="app.adsMaterial.materialList({advTag:'all'})">
                全部
            </div>
        </li>
        <li ng-repeat="advTag in adsMaterial.advTagList track by $index">
            <div ui-sref="app.adsMaterial.materialList({advTag:advTag.ID})">
                {{advTag.TagName}}
                <br>
                <button ng-click="adsMaterial.editAdvTag(advTag)">编辑</button>
            </div>
        </li>
    </ul> -->
    

    <div ng-show="adsMaterial.loading">loading....</div>
    <!-- 分类标签 -->
    <ul class="nav nav-tabs">
        <li class="cursor-pointer" ng-class="">
            <a ng-click="" ui-sref="app.adsMaterial.materialList({advTag:'all'})">全部标签</a>
        </li>
        <li class="cursor-pointer" ng-class="" ng-repeat="advTag in adsMaterial.advTagList track by $index">
            <a ui-sref="app.adsMaterial.materialList({advTag:advTag.ID})">{{advTag.TagName}}&nbsp;<i class="glyphicon glyphicon-edit" ng-click="adsMaterial.editAdvTag(advTag,$event)"></i></a>
        </li>
        <li class="cursor-pointer" ng-class="">
            <a ng-click="adsMaterial.addAdvTag()"">
                <i class="icon ion-android-add-circle"></i> 标签添加
            </a>
        </li>
    </ul>
    <ui-view></ui-view>
    <div ng-show="adsMaterial.noData">查无数据</div>
</div>
