<div ng-controller="adsMaterialController as adsMaterial" ng-init="adsMaterial.init()" class="col-sm-9 page col-right">
    广告素材<br>
    <hr>
        
        <div ng-show="adsMaterial.loading">loading....</div><br>
        <a  ui-sref="app.adsMaterial.materialList({advTag:'all'})">
            全部
        </a><br>
        <div ng-repeat="advTag in adsMaterial.advTagList track by $index" ui-sref="app.adsMaterial.materialList({advTag:advTag.ID})">
            {{advTag.TagName}}  --<button ng-click="adsMaterial.editAdvTag(advTag)">编辑</button><br>
        </div>
        <a class="btn btn-primary" ng-click="adsMaterial.addAdvTag()">添加标签</a>
        <ui-view></ui-view>
        <div ng-show="adsMaterial.noData">查无数据</div>
</div>