<div ng-controller="adsPositionController as adsPosition" ng-init="adsPosition.init()" class="adsPosition">
    <hr class="break-space-double">
    <a ng-click="adsPosition.addPosition()"><i class="glyphicon glyphicon-plus"></i>添加广告位</a>
    <hr class="break-space-double">
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>名字</th>
                        <th>描述</th>
                        <th>模版</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="adsPosition_table">
                    <tr ng-repeat="position in adsPosition.advPositionList track by $index" ui-sref="app.adsBoard.adsPosition.adsList({PostionID:position.ID})">
                        <td data-title="'名字'">{{position.Name}}</td>
                        <td data-title="'描述'">{{position.Description}}</td>
                        <td data-title="'描述'">{{position.AdvPositionTemplateName}}</td>
                        <td data-title="'操作'">
                            <button ng-click="adsPosition.editPosition(position)" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</button>
                            <button ng-click="adsPosition.addAdvPositionTagMatrix(position)" class="btn btn-default"><i class="glyphicon glyphicon-tag"></i>&nbsp;标签</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="adsPosition.loading">loading...</div>
            <div ng-show="adsPosition.noData">查无数据</div>
        </div>
        <div class="col-md-3">
            <strong>广告列表</strong>
            <ui-view></ui-view>
        </div>
    </div>
</div>
