<div ng-controller="appController as app" ng-init="app.init()">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">广告库</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-click="app.logout()">
                            <i class="glyphicon glyphicon-lock"></i> 登出
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-left">
            <ul class="nav">
                <li class="nav-header"><a ng-click="app.goToState('app.adsBoard')">广告投放</a></li>
                <li class="nav-header"><a ng-click="app.goToState('app.adsMaterial')">广告素材</a></li>
            </ul>
        </div>
        <div class="col-sm-10 col-right">
            <ui-view></ui-view>
        </div>
    </div>
    <div ng-include="app.maskUrl" class="autoscroll"></div>
</div>
