<div ng-controller="editPositionController as editPosition" style="position: absolute; top: 0; z-index: 1000; overflow: auto; height: 100%;width: 100%; background-color: rgba(0,0,0,.6);" ng-init="editPosition.init()">
    editPositionController 编辑广告位
    <br>

    <br>
    <button ng-click="editPosition.cancel()">关闭</button>
    <form novalidate ng-submit="addForm.$valid && editPosition.editAdvPosition()" name="addForm">
        <select ng-options="(template.AdvPositionTemplateName+template.AdvPositionTemplateDesc) for template in editPosition.form.templateList " ng-model="editPosition.form.AdvPositionTemplate" required></select>
        <br> 名字：
        <input type="text" name="" required ng-model="editPosition.form.Name">
        <br> 描述：
        <input type="text" name="" required ng-model="editPosition.form.Description">
        <br> ScheduleTypeParam：
        <input type="text" name="" required ng-model="editPosition.form.ScheduleTypeParam">
        <br> ScheduleType：
        <input type="text" name="" required ng-model="editPosition.form.ScheduleType">
        <br>
        <!-- datetimepicker作用域问题，没有独立作用域，暂时这样处理 -->
        <div class="row">
            <div ng-controller="lifeStartTimeController as lst" class="col-md-6">
                广告开始日期:<i class="glyphicon glyphicon-calendar" ng-click="editPosition.showDatePicker('start')"></i> {{ editPosition.form.LifeStartTime | date:'yyyy-MM-dd hh:mm:ss' }}
                <datetimepicker data-ng-model="editPosition.form.LifeStartTime" data-datetimepicker-config="{ startView:'day', minView:'minute' }" ng-show="editPosition.startDatePicker" data-on-set-time="editPosition.onTimeSet('start')" />
            </div>
            <div ng-controller="lifeEndTimeController as let" class="col-md-6">
                广告结束日期:<i class="glyphicon glyphicon-calendar" ng-click="editPosition.showDatePicker()"></i> {{ editPosition.form.LifeEndTime | date:'yyyy-MM-dd hh:mm:ss' }}
                <datetimepicker data-ng-model="editPosition.form.LifeEndTime" data-datetimepicker-config="{ startView:'day', minView:'minute' }" ng-show="editPosition.endDatePicker" data-on-set-time="editPosition.onTimeSet()" />
            </div>
        </div>
        <input type="submit" name="" ng-disabled="addForm.$invalid || editPosition.saving" class="btn btn-primary">
    </form>
</div>
