<div ng-controller="loginController as login" ng-init="login.init()">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <hr class="break-space-double">
    <div class="container-fluid">
        <div class="row">
            <div class="center-block fixed-width-5 fixed-width-5">
                <div class="panel panel-default center-block">
                    <div class="panel-heading">
                        <h3 class="panel-title">清鹤广告库</h3>
                    </div>
                    <div class="panel-body">
                        <form name="loginForm" ng-submit="loginForm.$valid && login.login()">
                            <div class="control-group">
                                <label>账号</label>
                                <div class="controls">
                                    <input ng-model="login.userName" type="text" required title="Username required" placeholder="Username" class="form-control">
                                </div>
                            </div>
                            <div class="control-group">
                                <label>密码</label>
                                <div class="controls">
                                    <input ng-model="login.password" type="password" required title="Password required" placeholder="Password" class="form-control">
                                </div>
                            </div>
                            <hr class="break-space">
                            <div class="control-group">
                                <button type="submit" class="btn btn-primary btn-block" class="form-control">登录</button>
                            </div>
                        </form>
                        <div ng-show="login.loading">loading...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
