<div   ng-controller="materialListController as materialList" ng-init="materialList.init()">
    materialList<br/><br/><br/><br/><br/>
        <button ng-click="materialList.addMaterial()">上传素材</button>
        <div ng-show="materialList.loading">Loading...</div>
        <table  ng-table="materialList.tableParams">
            <thead>
                <tr>
                   <!--  <th>名称</th>
                    <th>类型</th>
                    <th>产地</th>
                    <th>操作</th> -->
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="material in $data track by $index">
                    <td data-title="'素材名称'" >{{material.Name}}</td>
                    <td data-title="'周期'" >{{material.LifeStartTime}}~{{material.LifeEndTime}}</td>

                    <td data-title="'操作'">
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="materialList.noData">查无数据</div>

</div>