<div ng-controller="positionAddAdvController as pAA" style="position: absolute; top: 0; z-index: 1000; overflow: auto; height: 100%;background-color: rgba(0,0,0,.7);width: 100%;" ng-init="pAA.init()">
<!--     
<button ng-click="pAA.cancel()" class="btn btn-primary">关闭</button>
<br>
<div ng-show="pAA.loading">Loading...</div>
<table ng-table="pAA.tableParams">
    <thead>
        <tr>
            <th>名称</th>
            <th>类型</th>
            <th>产地</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="material in $data track by $index">
            <td data-title="'复选框'">
                <input type="checkbox" name="" ng-checked="pAA.checkStatus(material.ID,pAA.adsList) " ng-model="this.value" ng-click="pAA.changeStatus(this.value,material.ID)" >
            </td>
            <td data-title="'名字'">
                {{material.Name}}</td>
        </tr>
    </tbody>
</table> -->
    

    <div ng-show="pAA.loading">Loading...</div>
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="pAA.cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">广告位添加广告</h4>
                </div>
                <div class="modal-body">
                    <!-- info -->
                    <form novalidate ng-submit="addForm.$valid && ePT.editPositionTag()" name="addForm">
                        <table class="table table-condensed" ng-table="pAA.tableParams">
                            <tbody>
                                <tr ng-repeat="material in $data track by $index">
                                    <td><input type="checkbox" name="" ng-checked="pAA.checkStatus(material.ID,pAA.adsList) " ng-model="this.value" ng-click="pAA.changeStatus(this.value,material.ID)" ></td>
                                    <td>
                                        {{material.Name}}
                                    </td>
                                </tr>
                        </table>
                    </form>
                    <br>
                    <br>
                    <input type="button" class="btn btn-default" name="" ng-click="pAA.addAdvPositionAdvMatrix();" ng-disabled="pAA.saving" value="保存">
                    <!-- info end -->
                </div>
            </div>
        </div>
    </div>
    <div ng-show="pAA.noData">查无数据</div>
</div>
